* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	width: 100%;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
    background-image: url(./images/unsplash-space-photo.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


.stack {
    width: 500px;
    height: 500px;
    position: relative;
}

.card {
    background-color: #f1f1f1;
    width: 80%;
    min-height: 40%;
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    text-align: center;
    align-items: center;
    border-radius: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 3rem;
    box-shadow: rgba(15, 15, 15, 0.459) 0px 8px 12px;
    transition: transform 200ms;
}

.card:nth-last-child(n+4) {
    --y: calc(-50% - 32px);
    transform: translate(-50%, var(--y)) scale(0.9);
    box-shadow: 0 0 1px 1px #00000003;
}

.card:nth-last-child(3) {
    --y: calc(-50% - 16px);
    transform: translate(-50%, var(--y)) scale(0.95);
}

.card:nth-last-child(2) {
    --y: calc(-50%);
    transform: translate(-50%, var(--y)) scale(1);
}

.card:nth-last-child(1) {
    --y: calc(-50% + 16px);
    transform: translate(-50%, var(--y)) scale(1.05);
}

@keyframes swap {
    50% {
        transform: translate(-50%, calc(var(--y) - 250px)) scale(0.85) rotate(-15deg);
        animation-timing-function: ease-in;
    }

    100% {
        transform: translate(-50%, calc(var(--y) - 15px)) scale(0.85);
        z-index: -1;
    }
}